<p id="notice"><%= notice %></p>

<p>
  <strong>Document:</strong>
  <%= @photo.document %>
</p>

<p>
  <strong>Image data:</strong>
  <%= @photo.image_data %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
